

li {
   font-size: larger;
}

:root {
  --very-dark-bg-color: #221d07;
  --dark-bg-color: #593311;
  --happy-green: #788a14;
  --happy-blue: #719ed9;
  --happy-yellow: #d7c600;
}

#header_wrap { background: #221d07; background: linear-gradient(to top, var(--dark-bg-color), var(--very-dark-bg-color)); }

#footer_wrap { background: var(--very-dark-bg-color); }


.day-image {
  width: 20%;
  margin-left: -10%;
  float: left;
  margin-right: 28px;
}

.instructor-image {
  float: right;
  width: 300px;
  margin-right: 18px;
}

blockquote p:before { 
  content: open-quote;
  font-weight: bold;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--dark-bg-color);
  } 
  blockquote p:after { 
  content: close-quote;
  font-weight: bold;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--dark-bg-color);
    
  }